@import url("../css/ComoneStyle.css");

.information h5 {
  font-size: 2.5rem;
  width: 100%;
  font-weight: 700;
  color: var(--Color-Primary);
}
.wrapperImge img {
  border-radius: 4rem 4rem 0rem 0rem !important;
}
.icones small {
  font-size: 1.9rem;
  padding: 0rem 0.5rem;
  margin-left: 0.5rem;
  font-weight: 100;
}
.icones {
  align-items: baseline;
}
.icones p {
  width: 62%;
  text-align: justify;
  line-height: 3rem;
}

.icones small:not(:last-child) {
  border-left: 2px solid;
}
.wrapperLink .icon {
  background: rgba(249, 249, 251, 1);
  border: 1px solid rgba(235, 235, 235, 1);
  padding: 10px;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.information path {
  color: var(--Color-Primary);
}
.wrapperImge {
  height: 38.3rem;
  overflow: hidden;
}
.wrapperLink .icones p {
  width: 65%;
  text-align: justify;
}
.RestOfTheTeam .box .Wrapp {
  overflow: hidden;
  height: 21rem;
  width: 21rem;
  border-radius: 2rem;
}

.about h5 {
  font-size: 2.5rem;
  color: var(--Color-Primary);
}

.box .about span {
  font-size: 2rem;
  color: var(--Color-text-secondary);
  font-weight: 100;
}
.hero h2 {
  font-size: 4rem;
  font-weight: 900;
  color: var(--Color-Primary);
}
.hero span {
  font-size: 2rem;
  font-weight: 400;
  color: var(--Color-text-secondary);
}
.JourneyPoints {
  margin-top: 5rem !important;
}
.Dots_contant,
.Dots_contants {
  padding-right: 12px;
  padding-bottom: 2rem;
}
.Dots_contant:not(:last-child) {
  border-right: 3px solid var(--Color-Primary-Primary-50);
}
.Dots_contants {
  border-right: 3px solid var(--Color-Primary-Primary-50);
  margin-left: 0rem;
}
.cyrcle {
  position: relative;
}
.cyrcle::before {
  content: "";
  display: block !important;
  position: absolute !important;
  top: -11px !important;
  right: -25px !important;
  z-index: 10 !important;
  margin: 1rem 3px !important;
  background: var(--background) !important;
  border: 1px solid var(--Color-Black-Black-50) !important;
  width: 2rem !important;
  height: 2rem !important ;
  border-radius: 5rem !important;
}
.Active::before {
  content: "";
  background: var(--Color-Secondary) !important;
  border: none !important;
}

.JourneyPoints small {
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  color: gray;
  font-weight: 100;
}
.JourneyPoints .heading h3 {
  font-size: 2.5rem;
  font-weight: 700;
}
.JourneyPoints .heading p {
  font-size: 1.8rem;
  font-weight: 100;
  width: auto;
  line-height: 3rem;
  text-align: justify;
}
.targets .box {
  border-top: 1px solid var(--Color-Black-Black-50);
  padding: 2rem;
}
.detals p {
  font-size: 2rem;
  margin-right: 5rem;
  font-weight: 400;
}
.Green,
.red {
  font-weight: 900;
}
.Green {
  color: var(--Color-Primary);
}
.red {
  color: var(--Color-Secondary);
}

.detals h3 {
  font-size: 4rem;
}
.Section2 .letsDoit {
  display: none;
  opacity: 0;
  visibility: hidden;
}

@media (min-width: 768px) {
  html {
    font-size: 10px;
  }
  .Hero .head {
    flex-direction: row !important;
  }
  .RestOfTheTeam .box .Wrapp {
    overflow: hidden;
    height: 28rem;
    width: auto;
  }

  .Section2 .letsDoit {
    display: block;
    opacity: 100;
    visibility: visible;
  }
  .wrapperImge {
    height: 48.3rem;
  }
  .cyrcle::before {
    margin: 0rem 0px;
  }
  .Dots_contants {
    margin-left: 3rem;
  }
  .smallText {
    color: var(--Color-text-secondary) !important;
    font-size: 1.5rem;
  }
  .titles {
    color: var(--Color-Black-Black-500);
    font-size: 2rem;
    font-weight: 900;
  }
}
