@import url("../css/ComoneStyle.css");



.contact-us .head {
  text-align: justify !important;
}
.contact-us .head .containerTitle {
  display: block;
  width: 15%;
  background: var(--Color-White-White-200);
  color: var(--Color-Primary);
  text-align: center;
  padding: 0.5rem;
  font-size: 2rem;
  border-radius: 7rem;
  margin-bottom: 3rem;
  font-weight: 100;
}
.head p {
  color: var(--Color-text-secondary);
  font-weight: 100;
  font-size: 1.8rem;
  text-align: justify;
  width: 100% !important;
}

.contact-us .head .doted::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 5rem;
  background: var(--Color-Primary);
  display: block;
}

.ContentText .box h4.my-3 {
  font-size: 2rem;
  font-weight: 900;
}

.ContentText .box p {
  font-size: 1.5rem;
  font-weight: 100;
}

.ContentText .box a,
.ContentText .box span {
  text-decoration: none;
  color: var(--Color-Primary);
  font-size: 1.5rem;
  font-weight: 600;
}


.contact-us .form-label {
  text-align: justify !important;
  width: 100% !important;
}

.contact-us .form-label input {
  width: 100% !important;
  padding: 1rem 1rem;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  outline: none;
  border: 1px solid var(--Color-Black-Black-50);
  border-radius: 8px;
  font-size: 1.5rem;
}

.contact-us .form-label h6 {
  font-size: 1.6rem !important;
  font-weight: 700;
}

.react-tel-input .form-control {
  padding: 7px;
}
.flag {
  display: none;
}
.phone-container.d-flex.align-items-center.gap-2 {
  position: relative;
}
.custom-phone-input {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0px;
  background: white;
  width: 100%;
}

.country-name-box {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
}

.phone-input-container {
  flex-grow: 1;
}

.hide-flag .flag {
  display: none !important; /* إخفاء العلم */
}

.react-tel-input .form-control {
  padding: 0px;
  background: transparent;
  border: 0px;
}
.country-name-box {
  position: absolute;
}
.form-label {
  margin-bottom: 0px !important;
}
.custom-phone-input {
  padding: 0px !important;
}

input.form-control.custom-input:focus {
  box-shadow: none !important;
  border: none !important;
}
.react-tel-input .selected-flag {
  width: 9rem !important;
  border: none !important;
  background: transparent !important;
}

.react-tel-input .selected-flag,
.react-tel-input .flag-dropdown {
  background: transparent !important;
  z-index: 2;
  border: none !important;
}

.country-name-box {
  z-index: 1;
  font-size: 1rem !important;
}
input.form-control.custom-input {
  width: 100% !important;
  padding: 0.5rem;
  font-size: 13px;
}
textarea.form-control {
  padding: 2rem !important;
}

textarea {
  font-size: 2rem !important;
  resize: none !important;
}
.form-control:focus {
  border: 1px solid var(--Color-Black-Black-50) !important;
  box-shadow: none !important;
}
.custom-phone-input {
  border: 1px solid var(--Color-Black-Black-50) !important;
  padding: 0px !important;
}
.config {
  font-size: 1.5rem;
  width: 160% !important;
  color: var(--Color-text-secondary);
}
.btn {
  font-size: 2rem;
  border-radius: 5rem;
}

/*  Second Section Style */

.SecondSection {
  background-color: var(--Color-White-White-100);
  padding: 5rem 5rem;
}

.SecondSectionBtn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  background: var(--Color-text-secondary);
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
  padding: 2px 25px;
  gap: 5rem;
}

.SecondSectionBtn:after {
  content: " ";
  width: 100%;
  height: 100%;
  background: var(--Color-Secondary);
  position: absolute;
  transition: all 0.4s ease-in-out;
  left: 100%;
}

.SecondSectionBtn:hover::after {
  left: 0;
  width: 100%;
}

.SecondSectionBtn span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  color: #fff;

  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.SecondSectionBtn:hover span {
  color: var(--background);
  /* animation: scaleUp 0.3s ease-in-out; */
}
.react-tel-input .country-list {
  width: 120% !important;
}
input.search-box {
  width: 88% !important;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
.SecondSection button img {
  z-index: 20;
  /*background: var(--Color-Black-Black-500);
  */
  padding: 0.9rem;
  display: flex;
  justify-items: end;
  /* width: 30% !important; */
  /* height: 30% !important; */
  border-radius: 5rem;
  transition: all 0.3s ease-in;
}
.SecondSection button:hover img {
  rotate: calc(180deg);

  background: var(--background);
}

.react-tel-input .flag-dropdown.open .selected-flag {
  width: 8rem !important;
  padding: 0px !important;
}
.flag-dropdown.hide-flag {
  width: 40% !important;
}
.see_more svg.svg-inline--fa.fa-arrow-right {
  transform: rotate(182deg);
  color: var(--background);
}

.box_ditales small {
  font-size: 1.2rem;
  background: rgba(255, 244, 236, 1);
  padding: 1rem;
  border-radius: 0.5rem;
  color: rgba(255, 137, 61, 1);

  font-weight: 100;
}
.box_ditales p {
  font-size: 2rem;
  width: 100%;
  text-align: justify;
}

.box_ditales p span {
  color: var(--Color-Secondary);
  font-weight: 700;
}
.see_more {
  font-size: 2rem;
  background: var(--Color-Primary);
  color: aliceblue;
  padding: 1.5rem;
  border: none;
  width: 54%;
  border-radius: 5rem;
  font-weight: 100 !important;
}
.ThirdeSection {
  position: relative;
  width: 95%;
}
img.star {
  position: absolute;
  top: -14%;
  left: 27%;
  width: 1.5%;
}
img#Wow-Emoje {
  position: absolute;
  top: 80%;
  left: 12%;
  width: 14%;
}
img.dimon {
  background: #ffbd4f;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 16%;
  align-items: center;
  padding: 0.3%;
  top: 47%;
  border-radius: 100% !important;
  width: 6%;
}

img.star {
  position: absolute;
  top: -14%;
  left: 27%;
  width: 4.5%;
}
img.hero-star {
  width: 4%;
  position: absolute;
  top: -14px;
  left: 20%;
}
.react-tel-input .country-list {
  width: 250% !important;
  text-align: left;
}

.custom-toast {
  position: fixed;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 2rem;
  border-radius: 12px;
  font-weight: bold;
  font-size: 1.1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  z-index: 9999999999999999999999999999999;
  opacity: 0.95;
  text-align: center;
  min-width: 250px;
  max-width: 90%;
  transition: all 0.3s ease-in-out;
}

.custom-toast.success {
  background: linear-gradient(135deg, #63c268, var(--Color-Primary));
  color: white;
  font-size: 1.3rem;
}

.custom-toast.error {
  background: linear-gradient(135deg, var(--Color-Secondary), #e57373);
  color: white;
  font-size: 1.3rem;
}

.custom-toast.loading {
  background: linear-gradient(135deg, #4d4d4d, #888888);
  color: white;
  font-size: 1.3rem;
}
.error-text {
  color: #e63946;
  font-size: 0.9rem;
  margin-top: 4px;
}

@media (max-width: 1024px) {
  input.form-control.custom-input {
    font-size: 15px;
  }
  .custom-phone-input {
    border: 1px solid var(--Color-Black-Black-50) !important;
    padding: 3px !important;
  }
  .SecondSection .d-flex.justify-content-between.align-items-start.w-100 {
    flex-direction: row !important;
  }
  .head p {
    color: var(--Color-text-secondary);
    font-weight: 100;
    font-size: 1.5rem;
    width: 100%;
  }

  img.star {
    position: absolute;
    top: -14%;
    left: 27%;
    width: 1.5%;
  }
  img.hero-star {
    width: 2%;
    position: absolute;
    right: 35%;
    top: 0;
  }
  img.dimon {
    left: 17%;
    top: 23px;
    width: 2%;
  }
  .box_ditales p {
    width: 65%;
  }
  img#Wow-Emoje {
    position: absolute;
    top: 68%;
    left: 16%;
    width: 5%;
  }
  .react-tel-input .country-list {
    width: auto !important;
  }
  .input.search-box {
    width: 88% !important;
  }
  .react-tel-input .country-list {
    width: auto !important;
    text-align: left;
  }

  .config {
    font-size: 1.5rem;
    width: 100% !important;
  }
  .see_more {
    font-size: 1.5rem;
    width: 27%;
  }
}
